<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale-1.0" />
    <title>AW Resto</title>
  </head>

  <!-- <header class="header">
    <a id="menu" class="header__menu" tabindex="0">☰</a>
  </header> -->

  <body>
    <a href="#maincontent" class="skip-link" tabindex="0">Menuju ke konten</a>
    <header>
      <button href="#" id="menu" class="headermenu" tabindex="0">☰</button>
      <div class="logo">A W Resto</div>

      <!-- header -->

      <nav id="drawer" class="nav">
        <ul class="navlist">
          <li class="navitem">
            <a href="index.html">Home <i class="fa-solid fa-house"></i></a>
          </li>
          <li class="navitem">
            <a href="#"
              >Favorite <i class="fa-solid fa-heart fa-beat-fade"></i
            ></a>
          </li>
          <li class="navitem">
            <a href="https://www.linkedin.com/in/afdal-wahyi-62b742209"
              >About Us <i class="fa-solid fa-user"></i
            ></a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- <header class="header>
    <button id="menu" class="header__menu" aria-label="button hamburger">
    ☰</button>
    <div class="logo">A W Resto</div>
    <nav id="drawer" class="nav">
      <ul class="navlist">
        <li class="navitem"><a href="index.html">Home</a></li>
        <li class="navitem"><a href="#">Favorite</a></li>
        <li class="navitem">
          <a href="https://www.linkedin.com/in/afdal-wahyi-62b742209"
            >About us</a
          >
        </li>
      </ul>
    </nav>
  </header> -->

    <!-- jumbotron -->
    <main id="maincontent">
      <div
        class="hero"
        style="
          background-image: linear-gradient(
              rgba(0, 0, 5, 0.5),
              rgba(0, 0, 5, 0.5)
            ),
            url('images/heros/hero-image_2.jpg');
        "
      >
        <div class="_heroinner">
          <p class="_herosub">Hallo semuanya! Selamat datang di AW Resto</p>
        </div>
      </div>

      <!-- content -->
      <main id="content">
        <!--merubah maincontent-->
        <section class="content">
          <div class="resto">
            <h1 class="resto_label">Explore Restaurant</h1>
            <div class="resto_list" id="tes"></div>
          </div>
        </section>
      </main>
    </main>
    <!-- footer -->
    <footer>
      <center>© 2023 Copyright by Afdal Wahyi</center>
    </footer>
    <script type="javascript" src="./dist/app.bundle.js"></script>
  </body>
</html>
